<%- include('partials/header') %>

  <div class="container">
    <h1>All Secrets</h1>
    <% if (secrets.length> 0) { %>
      <ul>
        <% secrets.forEach(function(secret) { %>
          <li>
            <%= secret.secret %>
          </li>
          <% }); %>
      </ul>
      <% } else { %>
        <p>No secrets submitted yet.</p>
        <% } %>
          <a class="btn btn-light" href="/submit" role="button">Submit another secret</a>
  </div>

  <%- include('partials/footer') %>