body {
  background-color: #d4d7da;
 
}
.centered { 
  padding-top: 200px;
  text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 3rem;
  color: #fff;
  background-color: #000;
}
